<h1>Introduction</h1>

<p>
    IndiTag, an innovative online media bias analysis and annotation system
</p>
<img src="../static/system_functionality.png" alt="framework" width="400" height="150">
<br>
<img src="../static/system_module.png" alt="framework" width="400" height="250">

<div id="citation">
    <p>
        For more details about this system:
    </p>
    <p>
        @article{lin2024indivec,
        title={IndiVec: An Exploration of Leveraging Large Language Models for Media Bias Detection with Fine-Grained Bias Indicators},
        author={Lin, Luyang and Wang, Lingzhi and Zhao, Xiaoyan and Li, Jing and Wong, Kam-Fai},
        journal={arXiv preprint arXiv:2402.00345},
        year={2024}
        }
    </p>

</div>